@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(249, 250, 251);
  --foreground: #171717;

  --bar-background: rgb(209, 213, 219);
  --js-card-background: rgb(229, 231, 235);
  --file-background: rgb(249, 250, 251);
  --history-bg-hover: rgb(195, 199, 207);
  --missing-file-fg: rgb(107, 114, 128);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --bar-background: rgb(31, 41, 55);
    --js-card-background: rgb(31, 41, 55);
    --file-background: rgb(75, 85, 99);
    --history-bg-hover: rgb(55, 65, 81);
    --missing-file-fg: rgb(107, 114, 128);
  }
}

/* font-family: Arial, Helvetica, sans-serif; */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-kanit);
}

body.light {
  --background: rgb(249, 250, 251);
  --foreground: #171717;
}

body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.bar {
  background: var(--bar-background);
  color: var(--foreground);
}

body.light .bar {
  --bar-background: rgb(209, 213, 219);
}

body.dark .bar {
  --bar-background: rgb(31, 41, 55);
}

.file {
  background: var(--file-background);
}

body.light .file {
  --file-background: rgb(249, 250, 251);
}

body.dark .file {
  --file-background: rgb(75, 85, 99);
}

.js-card {
  background: var(--js-card-background);
}

body.light .js-card {
  --js-card-background: rgb(229, 231, 235);
}

body.dark .js-card {
  --bar-background: rgb(31, 41, 55);
}

body.light .history {
  --history-bg-hover: rgb(195, 199, 207);
}

body.dark .history {
  --history-bg-hover: rgb(55, 65, 81);
}

.missing-file {
  color: var(--missing-file-fg);
}

body.light .missing-file {
  --missing-file-fg: rgb(107, 114, 128);
}

body.dark .missing-file {
  --missing-file-fg: rgb(75, 85, 99);
}